:root {
    /* Colors */
    --white:#ffffff;
    --black:#1e2022;
    --grey-main:#657488;
    --dark-grey: rgb(49, 49, 49) ;
    --accent1:#EC9153;
    --accent2:#6842A1;
    --accent3:#ECDD53;
    --accent4:#349685;
    --accent5:#EC9153;
    --accent6:#6842A1;
    --accent7:#ECDD53;
    --accent8:#349685;
    --accent1-trans:#ec905386;
    --accent2-trans:#6842a18c;
    --accent3-trans:#ecdd5385;
    --accent4-trans:#34968688;
    --accent1bright:#FF6700;
    --accent2bright:#9923f3;
    --accent3bright:#e0ca00;
    --accent4bright:#2df7d5;

    --orb-width: 250px;

    --theater-num-of-orbs: 0;
    --entertainment-num-of-orbs: 0;

    --theater-total-orb-length: calc(var(--orb-width) * var(--theater-num-of-orbs));
    --theater-orb-margin: calc( (100vw - var(--theater-total-orb-length)) / (var(--theater-num-of-orbs) * 2));

    --entertain-total-orb-length: calc(var(--orb-width) * var(--entertainment-num-of-orbs));
    --entertain-orb-margin: calc( (100vw - var(--entertain-total-orb-length)) / (var(--entertainment-num-of-orbs) * 2));
}
html{ 
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}
body {
    font-family: 'Karla', sans-serif;
    background: var(--white);
    font-size: 16px;
    font-weight:200;
    line-height: 1;
    letter-spacing: 0;
    color: var(--dark-grey);
    margin:0;
    padding:0;
}

*,
::after,
::before {
    box-sizing: border-box;
    margin:0;
}

a {text-decoration: none;}

p {margin-top:0;}

ul {
    padding:0;
    margin:0;
    list-style:none;
}

img{
    width:100%;
    max-width:100%;
    vertical-align: middle;
    border-style: none;
}

.container { 
    position: relative;
    margin-left:auto;
    margin-right:auto;
    width:100%;
}