
.nav {
    position: fixed;
    top:0;
    right:0;
    left:0;
    display:flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap:5rem;
    color: white;
    height:4rem;
    padding:0 2rem;
    font-size: 1.3rem;
    font-weight: 500;
    background:linear-gradient(-45deg,var(--accent2), var(--accent1), var(--accent3), var(--accent4));
    background-size: 400% 400%;
    animation: nav-gradient 20s ease infinite;
    z-index: 1000;
}
@keyframes nav-gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.nav-links{
    padding:1rem 1rem 0.9rem;
    color:white;
    transition: all 0.5s ease;
}
.nav-links:hover{
    border-bottom: 5px solid var(--accent1bright) ;
    cursor: pointer;
}
.current{
    border-bottom: 5px solid var(--accent1bright) ;
}
.logo {
    margin-right:auto;
}
section.main-background {
    background-image: url('./assets/blurLightsBackground.jpg');
    height: 600px;
}
.title {
    padding-top: 13rem;
    color: white;
    text-align: center;
    position:relative;
}
.title h1 {
    font-family: 'Sacramento', cursive;
    font-size: 10rem;
}
.titles {
    font-size: 3rem;
    color:var(--accent4bright);
}
.word-changer:before {
    content:'Technical Director';
    animation: word-change 10s infinite ease-in-out;
}
@keyframes word-change {
    0% {content: 'Logistics Manager'; opacity:0;}
    12% {content: 'Logistics Manager'; opacity:1;}
    24% {content: 'Logistics Manager'; opacity:0;}
    25% {content: 'Stage Manager'; opacity:0; }
    37% {content: 'Stage Manager'; opacity:1; color:var(--accent1)}
    49% {content: 'Stage Manager'; opacity:0; }
    50% {content: 'Director of Operations'; opacity:0; }
    62% {content: 'Director of Operations'; opacity:1; color:var(--accent2)}
    74% {content: 'Director of Operations'; opacity:0; }
    75% {content: 'Project Coordinator'; opacity:0;}
    87% {content: 'Project Coordinator'; opacity:1; color:var(--accent3)}
    99% {content: 'Project Coordinator'; opacity:0;}
    100% {content: 'Logistics Manager'; opacity:0;}
}
.who-background {
    background-image: url('./assets/backstage.jpg');
}
.back-shape{
    position: absolute;
    top:0%;
    bottom: 0%;
    width:800px;
    height:auto;
    transform: skew(20deg, 0deg);
    background:linear-gradient(-45deg,var(--accent2), var(--accent1), var(--accent3), var(--accent4));
    background-size: 400% 400%;
    animation: nav-gradient 20s ease infinite;
    opacity: 0.3;
}
.background-shape-one {right:15%;}
.background-shape-two {
    right: 0;
    left: 0;
    overflow: hidden;
}
.background-shape-three {left:-8%;}
.about {
    color: white;
    padding: 5%;
}
.about h2{
    text-align: center;
    font-size: 5.5rem;
}
.about p{
    width: 600px;
    font-size: 1.7rem;
}
.sub-title {
    font-size: 2rem;
    font-weight: 700;
    margin:1rem 0;
}
.sub-title img {
    width: 100px;
}
.who .sub-title {
    color: var(--accent2);
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 3rem;
}
.who-body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:  2rem;
    gap: 3rem;

}
.who-body img {
    border-radius: 50%;
    width: 300px;
    box-shadow: -1px 6px 19px 4px #6a6969;
}
.theater-background {background-image: url('./assets/theatre.jpg');}
.theater .sub-title {color:var(--accent3bright)}
.entertainment-background {background-image: url('./assets/lights.jpg');}
.entertain .sub-title {color:var(--accent3bright)}
.contact-background {background-image: url('./assets/blurLightsBackground.jpg');}
.background{
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height:900px;
}
.contact-background.page{
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.contact-overlay {
    text-align: center;
    padding-top: 7rem;
}
.contact-overlay.page-form{
    padding-top: 17rem;
}
.contact-head {
    font-size: 6rem;
    margin-bottom: 2rem;
}
.form{
    height: min-content;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 50%;
}
.contact-form {
    width:500px;
    margin:0 auto;
}
.wrapper {
    margin: 1rem auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.wrapper label{
    color:white;
    font-weight: 500;
    font-size: 1.5rem;
}
.wrapper input {
    width:200px;
    border:none;
    height:2rem;
    border-radius: 15px;
    margin-left: 1rem;
    padding-left:0.5rem;
}
.form textarea{
    border:none;
    border-radius: 15px;
    font-size: 1.1rem;
    width:100%;
    padding:0.5rem;
}
.btn{
    margin:1rem;
    padding:0.5rem 3rem;
    border:none;
    border-radius: 6px;
    color:white;
    font-size: 2rem;
    letter-spacing: 1px;
    background: linear-gradient(45deg, var(--accent1), var(--accent3) );
    transition: all 0.5s ease;
}
.btn:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.main-overlay, .about-overlay, .theater-overlay, .entertainment-overlay, .contact-overlay {
    background: rgba(0, 0, 0, 0.68);
    z-index: 100;
    height:100%;
}
#who, #contact {overflow: hidden;}
footer {
    position: relative;
    bottom:0;
    left:0;
    right:0;
    background:linear-gradient(-45deg,var(--accent2), var(--accent1), var(--accent3), var(--accent4));
    background-size: 400% 400%;
    animation: nav-gradient 20s ease infinite;
}
.contact-footer{
    position: absolute;
}
.socials {
    text-align: center;
    color:white
}
.fa-brands {
    color:white;
    font-size: 2rem;
    margin:0.5rem;
}
.fa-brands:hover {
    color:rgba(250, 250, 250, 0.589);
    cursor: pointer;
}
.creator {
    text-align: center;
    color:white;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}
/* modal */
.port-imgs{
    width:200px;
}

/* scroll animations */
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}