/* marquee */
  
  .orb {
    position: relative;
    width: var(--orb-width);
    display: inline-block;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .2s ease-out;
  }
  .orb-img-wrapper {
    width: 100%;
    height: var(--orb-width);
    overflow: hidden;
    position: relative;
  }
  .orb.theater{
    position: relative;
    width: var(--orb-width);
    display: inline-block;
    margin: 0 var(--theater-orb-margin);
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .2s ease-out;
  }
  .orb.entertainment{
    margin: 0 var(--entertain-orb-margin);
  }
  .orb-img-wrapper {
    width: 100%;
    height: var(--orb-width);
    overflow: hidden;
    position: relative;
  }
  .orb-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
  }
  .orb-img-wrapper.circle{
    border-radius: 50%;
    background-color: cadetblue;
  }
  .job-title{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    width: 250px;
  }
  .job-title.double{
    font-size: 1.2rem;
  }
  .sub {
    font-size: .75rem;
    text-align: center;
    padding-top: 30px;
  }
  .pop-up{
    position: fixed;
    margin: auto;
    width: 85%;
    height: 75vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    border-radius: 5px;
    background: rgb(248 248 248 / 92%);
  }
  .pop-up-header{
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem;
  }
  .port-titles{
    align-self: center;
    width: 55%;
    text-align: center;
  }
  .company{
    font-size: 3rem;
    margin-bottom: 1rem;;
  }
  .date{
    text-align: center;
    font-size: 1.5rem;
    color: var(--accent1);
  }
  .pop-up-header div i {
    font-size: 3rem;
    align-self: flex-start;
    color: rgb(220 101 101);
    transition: all 0.2s ease;
  }
  .pop-up-header div i:hover {
    transform: scale(1.05);
    color: rgb(212, 61, 61);
    cursor: pointer;
  }
  .pop-up-img{
    width: 150px;
    object-fit: contain;
  }
  .pop-up-circle-img{
    border-radius: 50%;
    background-color: aquamarine;
    width: 150px;
    height: 150px;
  }
  .pop-up-body{
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    padding: 2rem;
    max-height: 50vh;
  }
  .pop-up-sub-head{
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .imgs .pop-up-sub-head{
    font-size: 2rem;
    margin: 1rem auto;
    color: white;
    text-align: center;
  }
  .pop-up .pop-up-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 1rem auto;
    display: block;
    width: 200px;
  }
  .descript {
    height: 50vh;
    overflow: auto;
  }
  .pop-up-project-list {
    overflow: auto;
  }
  .pop-up-descript-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
  }
  .descript .list-item {
    width: 45%;
  }
  .imgs{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2%;
    right: 2%;
    margin: 12rem auto 6rem;
    width: auto;
    border-radius: 10px;
    background: rgb(41, 41, 41);
  }
  .pop-up-photo-list{
    display: flex;
  }
  .sub-head {
    display: none;
    font-size: 1.5rem;
    margin: 1rem 0;
    text-align: start;
    font-weight: 700;
}
  .project-list{
    display: none;
    height: 150px;
    overflow-y: scroll;
    text-align: start;
    font-size: 1.3rem;
    font-weight: 300;
  }
  .list-item{
    margin-bottom: 1rem;
    font-weight: 400;
    width: 300px;
    font-size: 1.2rem;
  }
  .main{
    width: 200px;
    text-align: center;
    margin: auto;
    font-size: 1rem;
  }
  .direction-statement {
    text-align: center;
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: auto;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    color: var(--accent4);
  }
  .head{
    text-align: center;
    margin-top:1rem;
  }
  .head .titles {
    color: rgb(37, 37, 37);
  }
  .company-name {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    margin: auto;
    font-size: 2rem;
    font-weight: 500;
    width: max-content;
    height: max-content;
  }
  
  .orb:hover {
    transform: scale(1.1);
    opacity: 1;
    cursor: pointer;
  }
  
  .one {background:transparent;
    background-image:url(./assets/company-icons/rws-logo-main.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
  
  
  .marquee {
    background: #333333ed;
    /* background:linear-gradient(-45deg,var(--accent2), var(--accent1), var(--accent3), var(--accent4)); */
    background-size: 400% 400%;
    animation: nav-gradient 20s ease infinite;
    height: calc(var(--orb-width) *2);
    width: 100vw;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  
  .marquee--inner {
    display: block;
    width: 200%;
    margin: 70px 0;
    position: absolute;
    animation: marquee 20s linear infinite;
  }
  
  .marquee--inner:hover {
    animation-play-state: paused;
  }
  
  span {
    float: left;
    width: 50%;
  }
  .is-visible{display: block;}

  @keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
  }